.main-container {
  position: relative;
  height: 93vh;
  display: flex;
  flex-direction: column;

  padding: 8px;
  row-gap: 15px;
  padding-left: 10px;
  padding-right: 10px;

  overflow-y: auto;
}

.photo-card {
  width: 220px;
  min-height: 150px;
  position: relative;
  overflow: hidden;
}

.v-img__img--contain {
  object-fit: cover;
}

.v-btn:not(.switch) {
  background-color: rgb(var(--v-theme-secondary)) !important;
  color: rgb(var(--v-theme-on-secondary)) !important;
}

.v-btn.switch {
  border-radius: 15px;
}

.v-btn.switch.on {
  background-color: rgb(var(--v-theme-secondary)) !important;
  color: rgb(var(--v-theme-surface)) !important;
}

.v-btn.switch.off {
  background-color: transparent !important;
}

.photo-grid-container {
  /* Ajusta el cálculo según la altura real de tu toolbar y otros elementos */
  height: calc(100vh - 70px);
  overflow-y: auto;
  // display: contents;
}

/* Para Chrome, Edge y Safari */
.photo-grid-container::-webkit-scrollbar {
  width: 8px;
}

.photo-grid-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.photo-grid-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.photo-grid-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
